/* This file contains only the css related to showing the form as a grid. */
.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "template   template"
        "size       aspect"
        "colours    colours"
        "cross      innercross";
    gap: var(--space-4);
}

fieldset[name="template-settings"] {
    grid-area: template;
}

fieldset[name="size-settings"] {
    grid-area: size;
}

fieldset[name="aspect-ratio-settings"] {
    grid-area: aspect;
}

fieldset[name="colours-settings"] {
    grid-area: colours;
}

fieldset[name="cross-settings"] {
    grid-area: cross;
}

fieldset[name="innercross-settings"] {
    grid-area: innercross;
}

@media (max-width: 900px) {
    .grid-parent {
        grid-template-columns: 1fr;
        grid-template-areas:
            "template"
            "size"
            "aspect"
            "colours"
            "cross"
            "innercross";
    }
}
