@import url("../node_modules/normalize.css/normalize.css");
@import url("forms.css");

body {
    background-color: #F0F0F0;
    font-family:Roboto, Helvetica, sans-serif;
}

div.container {
    display: flex;
}
